img {
    height:30%;
    width: 30%;
}
.navbar {
    max-height: 20%;
}
.nav-search {
    width: 800px !important;
}
.nav-links {
    img {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .navLogo {
        
    }
    .nav-search {
        width: 100%;
    }
}
